{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="hero">



				<img src="/img/favicon.png" height="200" width="200" />
				<h2>欢迎来到DSL开源社区</h2>

				<div class="ui vertical stripe segment">
					<div class="ui aligned stackable three column grid container">
						<div class="column">
							<h3 class="ui header">
								<i class="magic icon"></i> 易安装
							</h3>
							<p>您除了可以根据操作系统平台下载二进制运行，还可以通过Docker安装</p>
						</div>
						<div class="column">
							<h3 class="ui header">
								<i class="laptop icon"></i> 跨平台
							</h3>
							<p>任何 <a href="https://golang.org/">Go 语言</a> 支持的平台都可以运行 DSL开源社区，包括 Windows、Mac、Linux 以及 ARM。</p>
						</div>
						<div class="column">
							<h3 class="ui header">
								<i class="send outline icon"></i> 轻量级
							</h3>
							<p>一个廉价的树莓派的配置足以满足 DSL开源社区 的最低系统硬件要求。有些用户甚至还将 DSL开源社区 运行在 NAS 设备上。</p>
						</div>
					</div>
				</div>





			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
